<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>idle_1</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>2</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0000.png</string>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0001.png</string>
					<key>delayUnits</key>
					<real>1</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0002.png</string>
					<key>delayUnits</key>
					<real>1</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0003.png</string>
					<key>delayUnits</key>
					<real>1</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0004.png</string>
					<key>delayUnits</key>
					<real>1</real>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0005.png</string>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>

			</array>
		</dict>
		<key>idle_5</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>2</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0006.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0007.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0008.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0009.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0010.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0011.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>

			</array>
		</dict>
		<key>idle_6</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>2</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0012.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0013.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0014.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0015.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0016.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0017.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>

			</array>
		</dict>
		<key>idle_7</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>2</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0018.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0019.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0020.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0021.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0022.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0023.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>

			</array>
		</dict>
		<key>idle_8</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.2</real>
			<key>restoreOriginalFrame</key>
			<true/>
			<key>loops</key>
			<integer>2</integer>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0024.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>firstframe</key>
						<true/>
					</dict>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0025.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0026.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0027.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0028.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>ARM_1_1/idle/image0029.png</string>
					<key>delayUnits</key>
					<integer>1</integer>
					<key>notification</key>
					<dict>
						<key>lastframe</key>
						<true/>
					</dict>
				</dict>

			</array>
		</dict>
	</dict>


	<key>properties</key>
	<dict>
		<key>spritesheets</key>
		<array>
			<string>arm_1_1.plist</string>
		</array>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
