<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,98},{24,46}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,50},{22,46}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,30},{22,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,46}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{26,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{24,46}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,50},{24,46}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{24,46}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,194},{22,46}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{22,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,146},{22,46}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{22,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{24,46}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{24,46}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,194},{22,46}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{22,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,146},{22,46}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,30},{22,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,48},{20,42}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{20,42}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,94},{20,42}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{20,42}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{20,44}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,48},{20,44}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,31},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,140},{20,42}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{20,42}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,186},{20,42}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,33},{20,42}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,94},{20,44}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{20,44}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,140},{18,44}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,34},{18,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,236},{18,44}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,34},{18,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,190},{20,44}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,94},{20,44}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,34},{20,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,46}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{24,46}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,144},{24,44}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{24,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{24,44}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{24,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,48},{24,44}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{24,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,98},{24,44}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{24,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>image0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{24,44}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,35},{24,44}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arm_idle_2_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:778fcfb1af88f99502588b775a6ebd89:1/1$</string>
            <key>textureFileName</key>
            <string>arm_idle_2_1.png</string>
        </dict>
    </dict>
</plist>
