<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>003left_ic04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,54},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>003left_ic05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,29},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>add_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{29,29}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>add_g_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,117},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>army_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,54},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,62},{97,101}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,103}</string>
            </dict>
            <key>bg_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,91},{100,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,31}}</string>
                <key>sourceSize</key>
                <string>{100,31}</string>
            </dict>
            <key>bg_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{127,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,28}}</string>
                <key>sourceSize</key>
                <string>{127,28}</string>
            </dict>
            <key>bg_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,24},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>bg_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2},{123,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{123,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bg_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,153},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>bg_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{135,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,58}}</string>
                <key>sourceSize</key>
                <string>{139,62}</string>
            </dict>
            <key>builder_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,71},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>darkElixir_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{118,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,20}}</string>
                <key>sourceSize</key>
                <string>{118,20}</string>
            </dict>
            <key>darkElixir_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,37},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>elixir_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{118,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,20}}</string>
                <key>sourceSize</key>
                <string>{118,20}</string>
            </dict>
            <key>elixir_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,62},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,50},{105,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,19}}</string>
                <key>sourceSize</key>
                <string>{105,23}</string>
            </dict>
            <key>exp_bg_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,37},{105,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,23}}</string>
                <key>sourceSize</key>
                <string>{105,23}</string>
            </dict>
            <key>exp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,71},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>g_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,24},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>g_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,2},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>gold_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,32},{118,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,20}}</string>
                <key>sourceSize</key>
                <string>{118,20}</string>
            </dict>
            <key>gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,54},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>ic_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,71},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>kho.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,29},{55,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,262}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{501,262}}</string>
                <key>sourceSize</key>
                <string>{509,296}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,161},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,104},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,193},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,62},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,100}}</string>
                <key>sourceSize</key>
                <string>{97,100}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,115},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>trophy_bg_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_guild.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9df47ea39662d3280957166f3c88e47f:1/1$</string>
            <key>textureFileName</key>
            <string>main_guild.png</string>
        </dict>
    </dict>
</plist>
